{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
<div class="card mb-6">
    <h5 class="card-header">Category: {{ post.category.title }}</h5>
    <div class="card-body">
        <h1 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="col-mb-9">
            <p class="card-text">{{ post.text|truncatechars:800 }}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read more...</a>
    </div>
    <div class="card-footer text-muted">
        {{ post.created_date|date:"Y-m-d H:i" }}
    </div>
</div>
    {% endfor %}
{% endblock %}
